@import '../utils/_variables.pcss';

.root {
  &__boxcontainer {
    &__form {
      font-family: var(--font-text);
      margin: 0 auto;
      width: 80%;
    }
  }

  &__form {
    background-color: rgba(#353244, 0.5);
    padding: 20px 40px;

    &__block {
      padding: 10px 0;
      position: relative;
    }

    &__list {
      margin: 0 auto;
      text-align: left;
      width: 80%;
    }
  }
}
