input,
textarea {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
}

textarea {
  overflow: auto;
  resize: none;
}

::-webkit-input-placeholder {
  color: var(--color-placeholder);
  font-family: var(--font-text);
  opacity: 1;
}

::-moz-placeholder {
  color: var(--color-placeholder);
  font-family: var(--font-text);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
  font-family: var(--font-text);
}
